/* ***********************
CONTENT
*********************** */

/* ---------------------- Content Top ---------------------- */
#content-top {
	width: 100%;
	margin-bottom: 20px;
}

#content-top #gmap-wrapper {
	width: 980px;
	height: 400px;
}

#content-bottom {
	width: 100%;
	margin-bottom: 15px;
}

#content-bottom #gmap-form {
	padding: 10px 15px;
	width: 570px;
	height: 183px;
	margin-right: 15px;
}

#content-bottom #gmap-form p{
	color: rgb(88, 99, 84);
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 14px;
	margin-top: 0;
	line-height: 1.1;
}

#content-bottom #gmap-form input {
	width: 220px;
	height: 22px;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#content-bottom .submitButton {
	width: 120px;
	height: 28px;
	margin-left: 10px;
	color: #fff;
	border: 1px solid rgb(149, 192, 84);
	border-radius: 3px;
	background: #88d356; /* Old browsers */
	background: -moz-linear-gradient(top, #88d356 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88d356), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #88d356 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #88d356 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #88d356 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #88d356 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d356', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

#content-bottom #gmap-form span {
	display: block;
	margin-bottom: 10px;
}

#content-bottom #validation-label {
	display: none;
	color: rgb(201, 68, 27);
	font-size: 14px;
	font-weight: bold;
}

#location-info {
	width: 331px;
	padding: 10px 15px 15px 15px;
	text-align: center;
}

#gmap-form h1,
#location-info h1,
#contact-form h1 {
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-bottom: 5px;
	margin-bottom: 15px;
	color: #41838e;
	text-shadow: 2px 2px rgb(231, 231, 231);
	font-size: 20px;
}

#location-info {
	color: rgb(88, 99, 84);
}

#location-info ul li {
	height: 40px;
	padding-left: 40px;
	line-height: 32px;
	text-align: left;
	float: none;
}

#location-info .contact1 {
	background: url('../images/geo.png') left top no-repeat;
}

#location-info .contact2 {
	background: url('../images/phone.png') left top no-repeat;
	height: 55px;
}

#location-info .contact3 {
	background: url('../images/mail.png') left top no-repeat;
}

#location-info .contact2 span {
	display: block;
	line-height: 16px;
}


/* ***********************
   CONTACT FORM
*********************** */
#contact-form {
	margin-top: 15px;
	width: 950px;
	padding: 10px 15px;
}

#contact-form form {
	float: left;
	max-width: 540px;
	margin-right: 20px;
}

#contact-form .inputField {
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	height: 25px;
	width: 380px;
}

#contact-form .textField {
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	height: 200px;
	width: 380px;
	max-width: 380px;
}

#contact-form p {
	float: left;
	display: table-cell;
	clear: both;
}

#contact-form .warning-label {
	display: block;
	width: auto;
	margin-left: 150px;
	color: rgb(201, 68, 27);
}

.hidden {
	display: none!important;
}

#contact-form label {
	display: inline-block;
	width: 150px;
	vertical-align: top;
	font-size: 13px;
}

#contact-form .success-label {
	display: none;
	clear: both;
	float: left;
	width: auto;
	font-size: 16px;
	color: rgb(71, 179, 0);
	font-weight: bold;
	margin-top: 30px;
}

#contact-form .error-label {
	display: none;
	clear: both;
	float: left;
	width: auto;
	font-size: 16px;
	color: rgb(201, 68, 27);
	font-weight: bold;
	margin-top: 30px;
}

#contact-form input.submitButton {
	float: right;
	display: block;
	clear: both;
}

.sending {
	cursor: default;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

#contact-form > img {
	float: left;
	margin-right: 20px;
}

#contact-form > p {
	clear: none;
	margin: 0px;
	max-width: 320px;
	font-size: 14px;
	color: #41838e;
}